.css-fg4pbf {
    background-color: #739180;

}

.css-18ni7ap {
    background-color: #739180;

}
/* div[data-testid="stVerticalBlock"] .css-1n76uvr {
    border-width:2px;
    border-style:solid;
    border-color:black;
} */